## Task One
In the previous exercise you created a Python environment. In the first task of this exercise, you are tasked with extending the environment to connect with your database and interact with the data it holds. 

Your first step is to import the connector module, enter your user details and connect with the database (Hint: you can use an alias when importing the module).

This gives you access to all the functionality available from the connector API, which can be accessed through the variable named connector (or whichever alias you choose).

In [1]:
!pip install --upgrade mysql-connector-python

Collecting mysql-connector-python

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the 'C:\Users\50687\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

  Downloading mysql_connector_python-8.0.33-cp39-cp39-win_amd64.whl (9.6 MB)
     ---------------------------------------- 9.6/9.6 MB 4.1 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\50687\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from mysql-connector-python) (3.19.6)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33

In [19]:
import mysql.connector as connector
connection=connector.connect(user='root',
                          password='password',
                          host='127.0.0.1',
                          port=3306)

cursor = connection.cursor()

In [20]:
cursor.execute("use littlelemondb")

## Task two
In this second task, you now need to query the database to show all tables within the database. 

Having established a connection in the first task, you need to execute a test query to ensure that there are no issues. You can do this by executing, or passing, a generic query that returns a snapshot of the database tables. 

You need to execute the query on the cursor using the code that follows. The cursor, as you should recall, is the bridge through which you can pass queries and return results.

In [21]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results=cursor.fetchall()

In [22]:
# tables
for result in results:
    print(result[0])

bookings
costumer
deliverystatus
menu
menu_has_menuitem
menuitem
orderdelivery
orders
staff

## Task 3
Query with table JOIN

For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign. 

You can use the following steps to implement this functionality in your database directory:


Step One: Identify which tables are required. To complete the query, you first need to identify which table has the required data. 

The bill paid can be found in Orders as TotalCost and the customer contact information can be found in the Customers table. 

When selecting attributes from a specific table, specify the table name, followed by a dot and the target attribute as below (Hint: select the column attributes that you will need). 


Step Two: Next, specify a table (Hint: The FROM keyword allows you to identify a table.)

To join two tables, specify the type of JOIN and the attribute to join the table on. The tables must be joined on an attribute that is common to both tables (such as a common column).


Step Three: Finally, include a clause to filter the data on. (Hint: the WHERE clause can be used to add conditional parameters.) 

When you have completed these steps, wrap this query as a string and pass it to the .execute() method of the cursor class. When executed, your SELECT query must extract the full name, contact details and bill amount for every customer who spent more than $60.

In [23]:
show_tables_query = """
select o.CustomerID, o.Cost, c.Name, c.ContactNumber from orders o
inner join costumer c
on o.CustomerID = c.CostumerID
where o.Cost > 60
order by o.Cost desc""" 

cursor.execute(show_tables_query)
results=cursor.fetchall()

In [31]:
columns = cursor.column_names

# Print column names
print(columns)
for r in results:
    print(r)

('CustomerID', 'Cost', 'Name', 'ContactNumber')
(8, Decimal('255.95'), 'Joakim Iversen', 2342389)
(6, Decimal('115.55'), 'Yessica Thouk', 2334674)
(5, Decimal('95.45'), 'Rafael Montolla', 4334645)